$cor-primaria: #37AB00;
$cor-fundo: #000000b3;
$cor-fundo2: #00000008;

$preto-transparent-30: #FFF;
$preto-transparent-20: #FBFEF4;
$preto-transparent-03: #FBFEF4;
$preto-transparent-70: #FFF;

$branco: #FFF;

// $cor-primaria: #37AB00;
// $cor-fundo: #FBFEF4;
// $cor-fundo2: #FFF;

// $preto-transparent-30: #0000004D;
// $preto-transparent-20: #00000033;
// $preto-transparent-03: #00000008;
// $preto-transparent-70: #000000b3;
// $branco: #FFF;

